if (!title)
    title=__('global.title')
else
    title=title
meta(name="viewport", content="viewport-fit=cover, width=device-width, user-scalable=no")
meta(name="theme-color", content="#4caf50")
link(rel='apple-touch-icon', href='/images/128x128.png')
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
link(rel="manifest", href="/manifests/villagers.json")
script(async, src="https://www.googletagmanager.com/gtag/js?id=G-MM0QV6H32F")
script.
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-MM0QV6H32F');
script(data-ad-client="ca-pub-8389744403724862" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")