h1 Maintenance mode.
h3 Amsterdam turned into maintenance mode.
h5 Server operating system upgrade: Red Hat Enterprise Linux 7.8 -> Red Hat Enterprise Linux 8.1
h6 Scheduled Time : TBD
hr
h1 Onderhoudsmodus.
h3 Amsterdam veranderde in onderhoudsmodus.
h5 Upgrade van serverbesturingssysteem: Red Hat Enterprise Linux 7.8 -> Red Hat Enterprise Linux 8.1
h6 Geplande tijd: Te verklaren.
