extends layout

block content
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    .conatiner-fluid
        .alert.alert-danger 현재 트위X로부터 발생하는 모든 접속 시도를 차단하고 있습니다. 이용 시 참고하세요.
        h3 Villagers ranking! (beta)
        table.table
            thead
                tr
                    th(scope="col") #
                    //-th(scope="col") Name
                    th(scope="col") Name_KOR
                    th(scope="col") Downloads
            tbody
                each element,index in data
                    tr
                        td(style="width: 25%")
                            img(style="width: 100%", src="images/" + element["image"] + "/" + element["number"] + ".jpg")
                        //-td=element["name"]
                        td=(index+1) + "위" + " " + element["name_kor"]
                        td=element["count"]


