doctype html
html
  head
    title Emibo - Unofficial Animal Crossing Villager Database
    meta(name="viewport", content="width=device-width, user-scalable=no")
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="manifest", href="/manifests/villagers.json")
  body
    header
      nav.navbar.navbar-expand.navbar-light.bg-light
        a.navbar-brand(href="/") Emibo DB

        form.form-inline.my-2.my-lg-0
            input.form-control.mr-sm-7.my-2.my-lg-0(type="search", placeholder="Search", aria-label="Search")

    section
      .container-fluid
        block content
