extends layout

block content
    script(src='/scripts/accounthelp.js')
    .container
        div#resetpassword
            h4=__('accounthelp.help.resetpassword')
            p=__('accounthelp.help.resetpassword.description')
            .row
                .input-field.col.s6
                    input#resetEmail.validate(type='email')
                    label(for='resetEmail') Email
            button#resetButton(type='button').btn=__('accounthelp.help.resetpassword.send')

        hr
        div#resendverification
            h4=__('accounthelp.resendverify')
            p=__('accounthelp.resendverify.description')
            .row
                .input-field.col.s6
                    input#resendEmail.validate(type='email')
                    label(for='resendEmail') Email
            button#resendButton(type='button').btn=__('accounthelp.help.resetpassword.send')
        br

