extends layout

block content
    script(src='/scripts/resetpw.js')
    .container
        input#hash(type='hidden', value=hash)
        .row
            .input-field.col.s6
                input#password1(name='password', type='password')
                label(for='password1') Password
            .input-field.col.s6
                input#password2(name='password2', type='password')
                label(for='password2') Password Again
            button#button(type='button').btn.waves-effect Reset