.xlarge {
    overflow: auto;
    border-top-color: #b3b3ff;
    border-top-style: solid;
    border-top-width: 5px;
    background-color: #ffffec;
}

#detail {
    top: 25px !important;
    max-width: 75% !important;
    max-height: calc(100% - 50px) !important;
}

@media(min-width: 600px) {
    .xlarge {
        height:600px;
    }
}

@media(max-width: 600px) {
    .villagerImage {
        width:20%;
    }

    #detail {
        width: 95% !important;
        max-width: 100% !important;
    }

    #detail > p{
        font-size: 7px !important;
    }

    #detail > .modal-content {
        padding: 0 !important;
        margin: 0 !important;
    }

}
