script(src='/scripts/login.js')
#login-modal.modal
    .modal-content
        h5 EmiyaKotlinProject - S'identifier
        form#loginform
            input#hash(type='hidden' name='_csrf' value='csrf goes here')
            .input-field
                input#email(name='email' type='text')
                label(for='email') Adresse électronique
            .input-field
                input#password.validate(name='password' type='password')
                label(for='password') Mot de passe
            button#loginbutton.btn(type='button') Bouton de connexion
    .modal-footer
        a.modal-close.waves-effect.waves-green.btn-flat(href='#') Fermer
